@import "tailwindcss";

/*@plugin "daisyui";*/

/*
@plugin "daisyui" {
  themes: all;
}
*/

@plugin "daisyui" {
  themes: light --default,  light --prefersdark;
  ;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

